@model CreateViewModel
@{
    ViewBag.Title = "Create";
}

@section scripts{
    <script src="~/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/vendor/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: '#exampleFormControlTextarea2'
            });
        });
    </script>

}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Start Posting</h1>
                    <span class="subheading">Express your self</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            @Html.LabelFor(post => post.Title, "Title")
            @Html.TextBoxFor(post => post.Title, new { @class = "form-control", placeholder = "Enter title here", id = "exampleFormControlInput1" })
        </div>

        <div class="form-group">

            @Html.LabelFor(post => post.Body, "Body")
            @Html.TextAreaFor(post => post.Body, new { @class = "form-control", placeholder = "Enter your post here", id = "exampleFormControlTextarea2", rows = "3" })
        </div>
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="InputFile1" name="UploadedFile" value="Choose File">
            <p class="help-block">Upload File</p>
        </div>
        <div class="form-check">
            @Html.LabelFor(post => post.Published, "Published", new { @class = "form-check-label"})
            @Html.CheckBoxFor(post => post.Published, new { @class = "form-check-input" })
        </div>

        <button type="submit" class="btn btn-primary mb-2" value="Save">Publish</button>
    </form>

</div>



