@model ViewPostViewModel
@{
    ViewBag.Title = "ViewPost";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Post Details</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <p>Title: @Model.Title</p>
    <p>Body: @Html.Raw(Model.Body)</p>
    <p>Date Created: @Model.DateCreated</p>
    <p>Date Updated: @Model.DateUpdated</p>
    <p>
        <a href="@Url.Action("AddComment", "Post", new { id = Model.Id })">Add Comment</a>
    </p>

    @if (Model.Comments.Count() == 0)
    {
        <p>No Comments</p>
    }
    else
    {
        <p>Comments:</p>
        foreach (var comment in Model.Comments)
        {
            <p> Comment: @comment.Body</p>
        }
    }


</div>


