@model ViewPostViewModel
@{
    ViewBag.Title = "ViewPost";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Post Details</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Body</th>
                <th scope="col">Date Created</th>
                <th scope="col">Date Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.Title</th>
                <td>@Html.Raw(Model.Body)</td>
                <td>@Model.DateCreated</td>
                <td>@Model.DateUpdated</td>
            </tr>
        </tbody>
    </table>

    @if (Model.Comments.Count() == 0)
    {
        <p>No Comments</p>
    }
    else
    {
        <p>Comments</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Body</th>
                    <th scope="col">Edit</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.Comments)
                {
                    <tr>
                        <td>@comment.Body</td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td><a href="@Url.Action("EditComment", "Post", new { id = Model.Id })">Edit Comment</a></td>
                        }
                    </tr>
                }

            </tbody>
        </table>
    }



</div>


